[submodule "external/GameboyCPUTests"]
	path = external/GameboyCPUTests
	url = https://github.com/adtennant/GameboyCPUTests.git
[submodule "DTC.Core"]
	path = DTC.Core
	url = https://github.com/deanthecoder/DTC.Core.git
[submodule "external/blargg-test-roms"]
	path = external/blargg-test-roms
	url = https://github.com/retrio/gb-test-roms
[submodule "Installer"]
	path = Installer
	url = https://github.com/deanthecoder/DTC.Installer.git
[submodule "DTC.Emulation"]
	path = DTC.Emulation
	url = https://github.com/deanthecoder/DTC.Emulation.git
